.popup__input {
  width: 100%;
  height: 47px;
  border: 0;
  border-bottom: 1px solid rgba(0, 0, 0, .2);
  font-size: 14px;
  line-height: 18px;
  box-sizing: border-box;
  padding: 10px 0 0;
  margin-bottom: 10px;
}

.popup__input:focus-visible{
  outline: none;
}

.popup__input:not(.popup__input_type_error):focus-visible{
  outline: none;
  border-bottom-color: black;
}

.popup__input_type_error {
  border-bottom-color: red;
}

.popup__input-error {

  color: #ff0000;
  margin-top: 5px;
  font-size: 12px;
  line-height: 15px;
  display: none;
}

.popup__input-error_active {
  display: block;
}

.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 568px) {
  .popup__title {
    font-size: 12px;
    line-height: 15px;
  }
}
